html,body {
    height: 30%;
    align-items:end;
    display: contents;
    margin: 5px;
    background-color: red;
  }


  .div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    background-color: rgb(127, 189, 219);
    colo

}
.grid-cell {
    display: flex;
    justify-content: center;
    align-items:center;
    border: 7px solid black;
    background-color: rgb(127, 189, 219);

}

button {
    padding: 1.2rem;
    width: 100px;
    border-radius: 30px;
    background: rgb(241, 238, 5);
    outline: none;
    border-color: rgb(12, 20, 12);
    border: 15px;
    cursor: pointer;
}

