button {
    padding: 1.2rem;
    width: 100px;
    border-radius: 30px;
    background: rgb(241, 238, 5);
    outline: none;
    border-color: rgb(12, 20, 12);
    border: 15px;
    cursor: pointer;
}