html,body {
    height: 30%;
    align-items:end;
    display: contents;
    margin: 5px;
    background-color: red;
  }


  .display {
    display: flex;
    text-align: right;
    font-size: 50px;
    align-items: initial;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    background-color: royalblue;
    justify-content:initial;
    border: 7px solid black;
    background-color: rgb(127, 189, 219);
    colo

  }

button {
    padding: 1.2rem;
    margin-right: 20px;
    margin-left: 30px;
    width: 100px;
    border-radius: 30px;
    background: rgb(241, 238, 5);
    outline: none;
    border-color: rgb(12, 20, 12);
    border: 15px;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

.button-container button {
    margin: 5px; /* Adjust the value as needed */
}

